// ┏┓╻╻┏━┓╻   ┏━┓┏━┓┏━╸┏━╸╻┏━╸╻┏━╸┏━┓
// ┃┗┫┃┣┳┛┃   ┗━┓┣━┛┣╸ ┃  ┃┣╸ ┃┃  ┗━┓
// ╹ ╹╹╹┗╸╹   ┗━┛╹  ┗━╸┗━╸╹╹  ╹┗━╸┗━┛
// ┏┳┓┏━┓┏┓╻╻╺┳╸┏━┓┏━┓┏━┓
// ┃┃┃┃ ┃┃┗┫┃ ┃ ┃ ┃┣┳┛┗━┓
// ╹ ╹┗━┛╹ ╹╹ ╹ ┗━┛╹┗╸┗━┛
output "eDP-1" {
    scale 1
    mode "2560x1600@165.002"
    position x=1280 y=0
    transform "normal"
}

// ┏┳┓╻┏━┓┏━╸
// ┃┃┃┃┗━┓┃  
// ╹ ╹╹┗━┛┗━╸
debug {
    honor-xdg-activation-with-invalid-serial
    ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"
    render-drm-device "/dev/dri/by-path/pci-0000:06:00.0-render"
}
